@keyframes orderTaker{
    from {
        bottom:40px;
        left: 350px;
    }
    to {
        bottom:40px;
        left: 850px;
    }
}

@keyframes getPizza{
    from{
        top:10px;
        left: 1100px;
    }
    to{
        left: 1150px;
        top: 450px;
    }
}
body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0px;
}
.customers{
    display: inline-block;
    width: 10%;
    height: 100%;
    margin: 0px;
    border: none;
    padding: 0px;
}
.pizza-store{
    display: inline-block;
    width: 90%;
}
.order-taker{
    z-index: 20;
    position: absolute;
    bottom: 40px;
    left: 230px;
    animation-name: orderTaker;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}
.pizza-delivery{
    z-index: 20;
    position: absolute;
}
.cook{
    z-index: 20;
    position: absolute;
    left: 1150px;
    top: 10px;
    animation-name: getPizza;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.computer{
    position: absolute;
    bottom: 150px;
    z-index: 2;
    left: 300px;
    height: 100px;
}
.freezer{
    position: absolute;
    left: 1300px;
    top: 330px;
    width: 200px;
    z-index: 2;
}
.oven{
    position: absolute;
    left: 1000px;
    height: 150px;
}
.pizza-box{
    position: absolute;
}
.order-table{
    position: absolute;
    height: 150px;
    bottom: 40px;
}
.frozen-pizza{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 380px;
    left: 1340px;
    z-index: 1;
}
.microphone{
    position: absolute;
    bottom: 170px;
    right: 400px;
    height: 50px;
    width: 50px;
    z-index: 2;
}
.mic-table{
    position: absolute;
    bottom: 50px;
    left: 950px;
    height: 145px;
}